{
  name: "Fuzzy Archer"
  description: "Occasionally, authors on The Daily WTF insert hidden comments. This extension formats them nicely."

  version: "1.0"
  manifest_version: 2

  content_scripts: [
  	{
  		matches: [ "http://thedailywtf.com/*", "https://thedailywtf.com/*", "http://www.thedailywtf.com/*", "https://www.thedailywtf.com/*" ]
  		js: [ 'lib/jquery-1.9.1.min.js', 'fuzzy-archer.js' ]
  	}
  ]
}